@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #FBFBFB;
}

.header {
    padding: 14px 0;
    border: 1px solid #242424;

}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 80px;
}

/*.header__nav-logo:hover {
    color: #FBFBFB;
    border: 4px solid blue;
    border-radius: 4px;
    background: aqua;
}*/

.header__nav-li__link-about {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
    padding-bottom: 5px;
    border-bottom: 2px solid #242424;
    transition: 0.2s;


}

.header__nav-li__link-about:hover {
    color: #FBFBFB;
    background: #242424;
    border: 2px solid blue;
    border-radius: 4px;
}

.header__nav-li__link {
    text-decoration: none;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
    transition: 0.2s;

}

.header__nav-li__link:hover {
    color: #FBFBFB;
    background: #242424;
    border: 2px solid blue;
    border-radius: 4px;
}

.baner {
    background: url("../img/baner.svg") center bottom / cover;
    height: 666px;

}

.baner__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 346px 0 66px;
    gap: 40px;
}

.baner__name {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #242424;

}

.baner__link {
    display: inline-block;
    max-width: 260px;
    width: 100%;
    padding: 16px;
    text-align: center;
    border: 2px solid #242424;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    transition: 0.2s;


}

.baner__link:hover {
    color: #FBFBFB;
    background: #242424;
    border: 2px solid blue;
    border-radius: 4px;
}

.about {
    margin: 80px 0 86px;
}

.about__wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about__left {
    max-width: 639px;
    width: 100%;
}
.about__img{
    width: 100%;
}

.about__right {
    max-width: 451px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.about__title-name {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #242424;
}


.about__title-p {
    width: 168px;
    height: 2px;
    background: #242424;
}

.about__desc {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
}

.catalog {
    margin-bottom: 140px;
}

.catalog__wrap {
    display: flex;
    gap: 20px;
}

.catalog__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 545px;
    width: 100%;
}

.catalog__left-title {
    display: flex;
    align-items: center;

    gap: 36px;
}

.catalog__name {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #242424;

}

.catalog__img {
    color: #242424;
}

.catalog__left-desc {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;

}

.catalog__left-link {
    display: inline-block;
    width: 215px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #242424;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #242424;
    transition: 0.2s;
}

.catalog__left-link:hover {
    color: #FBFBFB;
    background: #242424;
    border: 2px solid blue;
    border-radius: 4px;
}

.catalog__right {
    max-width: 545px;
    width: 100%;
}
.catalog__right-img{
    width: 100%;
}

.footer {
    padding: 40px 0;
    border: 1px solid #242424;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__newsletter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 268px;
    width: 100%;
}

.footer__neswletter-title {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;

}

.footer__newsletter-desc {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #242424;

}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 262px;
    width: 100%;

}

.footer__contacts-name {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
}

.footer__contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.tel {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashed {
    width: 4px;
    height: 4px;
    background: #000;
}

.footer__contacts-tel {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #242424;
    transition: 0.2s;

}

.footer__contacts-tel:hover {
    color: #FBFBFB;
    border: 2px solid blue;
    background: #000;
    padding: 5px;
    border-radius: 4px;
}

.mail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dash {
    width: 4px;
    height: 4px;
    background: #000;
}

.footer__contacts-email {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #242424;
    transition: 0.2s;

}

.footer__contacts-email:hover {
    color: #FBFBFB;
    border: 2px solid blue;
    background: #000;
    padding: 5px;
    border-radius: 4px;
}


.footer__follow {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 26px;
    max-width: 168px;
    width: 100%;
}

.footer__follow-title {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #242424;
}

.footer__nav {
    display: flex;
    align-items: center;
    gap: 42px;
}